.content {
    padding: 52px 0 200px 0;
    background: url('../../assets/desk.jpg') center center / cover no-repeat;
    max-height: 640px;
    font-family: Merienda;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.info {
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
}